{
  "root": true,
  "env": {
    "node": true,
    "es2021": true
  },
  "ignorePatterns": ["api/", "node_modules/"],
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "no-trailing-spaces": "error",
    "no-unused-vars": "error",
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "eqeqeq": ["error", "always"],
    "space-infix-ops": "error",
    "no-use-before-define": ["error", { "functions": false, "classes": true, "variables": true }]
  }
}